/* Aseguramos que el header y navbar tengan altura completa */
header {
    background-color: rgb(73, 73, 73);
    height: 3rem; /* Define la altura del header */
}

.navbar {
    height: 100%; /* El navbar ocupará todo el alto del header */
}

/* Estilo de los enlaces */
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el texto dentro del enlace */
    height: 100%;  /* Hace que el enlace ocupe toda la altura disponible */
    padding-top: 0;  /* Elimina el padding superior */
    padding-bottom: 0;  /* Elimina el padding inferior */
    color: #ffffff; /* Color de texto por defecto */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

/* Efecto hover */
.nav-link:hover {
    background-color: #707070; /* Fondo gris claro en hover */
    color: #ffffff;  /* Mantener texto blanco en hover */
}

/* Enlace activo */
.nav-link.active {
    background-color: #707070; /* Fondo gris claro cuando está activo */
    color: #ffffff; /* Mantener texto blanco cuando está activo */
}