header {
    background-color: rgb(73, 73, 73);
    width: 100%;
    height: 4rem;
}
.hover-effect {
    color: #ffffff; /* Color predeterminado (puedes cambiarlo si quieres) */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.hover-effect:hover {
    color: white; /* Cambiar el color del texto a blanco */
    height: 100%;
    background-color: #707070; /* Cambiar el fondo a azul */
}
.hover-effect:active {
    color: white; /* El texto cambia a negro cuando el enlace es presionado */
    background-color: #707070; /* Fondo gris claro cuando el enlace es activo */
}

/* Si estás usando la clase "active" para indicar la página activa */
a {
    height: 100%;
}
nav a.active {
    color: #ffffff; /* El texto se mantiene blanco */
    background-color: #707070; /* Fondo oscuro para la página activa */
}